.home {
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(169, 241, 24);
    text-align: center;
    z-index: 2;
    font-size: 1.5rem;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 2rem;
}

.carousel img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.about,
.impact {
    padding: 2rem;
    text-align: center;
}

.about-text{
    font-size: large;
    text-align: center;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.8;
    letter-spacing: 1px;
    color: #211e1e;
}


.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.stat h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    transition: transform 0.3s ease;
}

.stat h3:hover {
    transform: scale(1.1);
    /* Slightly enlarges the number on hover */
}

.stat p {
    font-size: 1.2rem;
    color: #7f8c8d;
}

@media screen and (max-width: 768px) {
    .stats {
        flex-direction: column;
        gap: 3rem;
    }

    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .hero-text h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .hero-text p {
        display: none;
    }

}