.footer {
    background-color: #1eb040cf;
    color: white;
    text-align: center;
    padding: 5px 0px 10px 0px;;
}

.social-links a {
    margin: 0 10px;
    color: white;
}

.social-links img {
    width: 25px;
    height: 25px;
}