/* src/components/Header.css */

/* General Header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #908a8a24;
    color: #28a745;
    position: relative;
    z-index: 1000;
    border-bottom: #274727f5 0.5px solid;
}

.logo img {
    height: 4rem;
}

/* Navbar styles */
.nav {
    display: flex;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

/* Mobile nav */
.nav.open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #e0ece3e3;
    transition: right 0.3s ease;
    padding-top: 60px;
    z-index: 999;
}

.nav.open ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav.open ul li {
    margin: 20px 0;
}

/* Close button inside the nav for mobile */
.nav .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #100f0f;
    background: none;
    padding: 0px 5px 0px 5px;
    border: 1px solid #f4f7f4;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}



/* Hamburger icon */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #100f0f;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Add this to Header.css */

.nav .active {
    color: #28a745;
    /* Change to your preferred active color */
    font-weight: bold;
    border-bottom: 2px solid #28a745;
    /* Optional, add a bottom border */
}

/* Media Queries for small screens */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav {
        display: none;
    }

    .nav.open {
        display: block;
    }
}

/* Show the regular menu on large screens */
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }

    .nav {
        display: flex;
    }

    .nav.open {
        display: none;
    }
}