#root {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-variant: normal;
    background-color: white;
    color: #211e1e;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}